html { background-color:#000; }
body { margin:0; overflow:hidden; }
canvas { display: block; width: 100%; height: auto; background-color: #ffffff; }
#content { margin: 0 auto; display: flex; flex-direction: column; justify-content: center; }